<div class="wrapper">
    <div class="col-xs-8 col-xs-offset-2 text-center registration">
        <br>
        <h3>Registration</h3>
        <p class="welcome-msg">Your application to join Promod.io have been received. We are looking forward to listen to your music taste.
            But before we progress, we just need to make sure you are a real person and that we got your email right.
            Please check your mailbox to confirm your registration. </p>

        <p class="welcome-msg">We look forward to seeing you in Promod.io!</p>
        <br><br><br><br>
        <h3>Registration completed</h3>
        <div class="border-box ">
            Great!! Welcome to Promod.io<br>
            You can <a href="#" class="promodlink">start listening</a> to fresh music immediately


        </div>
    </div>
    <div class="clearfix"></div>
    
    <footer class="footer-inner" >
        <div class="container">
            <div class="row">
                <div class="col-xs-3 col-lg-2 col-md-2"> <img src="images/promodIO-logo.png" class="img-responsive"/> </div>
                <div class="col-xs-6 col-lg-5 col-md-5">
                    <ul id="bottom-nav-inner" class="pull-left">
                        <li>About us</li>
                        <li>Privacy Policy</li>
                        <li>Help Center</li>
                    </ul>
                </div>
                <div class="col-xs-6 col-lg-3  col-md-3">
                    <ul id="bottom-nav-inner" class="pull-left">
                        <li><i class="fa social-icn  fa-twitter "></i></li>
                        <li><i class="fa  social-icn fa-facebook "></i></li>
                        <li><i class="fa fa-google-plus  social-icn"></i></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-lg-2 col-md-2"> Adress or contacts <br><span style="color:#bec1c6; font-weight:bold; ">32 Baker street<br>
                        welcome@promod.io</span> </div>
            </div>
        </div>
    </footer>
</div>
<div class="clearfix"></div>
