<div class="wrapper" ng-controller="SettingsController" id="settings-controller" ng-show='isLoggedIn === true' ng-cloak>
    <form role="form" name="settingsform" novalidate>
        <div class="col-xs-12 col-sm-12  col-lg-10 col-lg-offset-1 col-md-12 " style="padding-bottom:100px;">
            <div  class="col-xs-7 col-xs-offset-5 col-lg-9 col-lg-offset-3 col-sm-offset-4 col-sm-8 col-md-9 col-md-offset-3">
                <h3 class="text-center">Settings</h3>
                <hr>               
            </div>
            <div class="col-xs-5 col-lg-3 col-md-3 col-sm-4">
                <div class="col-xs-12">                
                    <img id="profileImage" ng-show="!userFlags.invalidProfileImageFileFlag" src="images/cover-image.jpg" class="image-responsive"/>
                    <img ng-show="userFlags.invalidProfileImageFileFlag && profileImageUrl !== '' && profileImageUrl !== undefined" ng-src="{{profileImageUrl}}" class="image-responsive"/>
                    <img ng-show="userFlags.invalidProfileImageFileFlag && (profileImageUrl === '' || profileImageUrl === undefined)"  src="images/cover-image.jpg"  class="image-responsive"/>
                    <div class="col-xs-12">&nbsp;</div>
                    <button class="btn btn-signup btn-block" onclick="getProfileImage()">CHANGE AVATAR
                        <input id="profile-image"  accept=".png,.jpg" style="display: none;"  file-model="profileImageFile" name="image_file1" type="file"  onchange="loadProfileImage(event)" />
                    </button>
                </div>
            </div>
            <div class="col-xs-7  col-lg-9 col-md-9 col-sm-8">
                <div class="row" ng-if="$parent.validations.length > 0">
                    <div class="col-xs-12 col-md-12">
                        <div ag-alert></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-10 col-lg-8">  
                        <div class="form-group">                            
                            <label for="fname">Your name </label>
                            <div class="input-inner-addon "><i class="fa fa-user brand-col"></i>
                                <input type="text" placeholder="Firstname Lastname" ng-model="userData.name" class="form-control" id="fname" name="fname" ng-change="validateName(settingsform)" required>
                            </div>
                            <span class="text-danger" ng-show="settingsform.fname.$error.required && submitted">Name required</span>
                            <span class="text-danger" ng-show="settingsform.fname.$error.invalidName">Your name must be in Firstname Lastname format</span>                           
                        </div>

                        <div class="form-group">
                            <label for="password">Password </label>
                            <div class="input-inner-addon "> <i class="fa fa-unlock-alt brand-col"></i>
                                <input type="password" ng-model="userData.password" class="form-control" id="password" name="password" ng-change="matchPasswords()" ng-minlength="8"  >
                            </div>
                            <span class="text-danger" ng-show="settingsform.password.$error.required && submitted">Password required</span>
                            <span class="text-danger" ng-show="settingsform.password.$error.minlength">Short passwords are easy to guess. Try one with at least 8 characters.</span>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Confirm the password </label>
                            <div class="input-inner-addon "> <i class="fa fa-unlock-alt brand-col"></i>
                                <input type="password" ng-model="confirmPassword" class="form-control" id="confirmPassword" name="confirmPassword" ng-change="matchPasswords()" >
                            </div>
                            <span class="text-danger" ng-show="settingsform.confirmPassword.$error.required && submitted">Confirm password required</span>
                            <span class="text-danger" ng-show="!(settingsform.confirmPassword.$error.required && submitted) && userFlags.passwordMismatchFlag">These passwords don't match.</span>
                        </div>
                        <div class="form-group">
                            <label for="dob">Day of birthday</label>
                            <div class="input-inner-addon "><i class="fa fa-calendar brand-col"></i>
                                <input jquery-datepicker type="text" ng-model="userData.birthDate" class="form-control"  readonly="true"  id="dob" name="dob">
                            </div>
                            <span class="text-danger" ng-show="settingsform.dob.$error.required && submitted">Day of birthday required</span>                            
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Cover image</label>
                            <div class="row">
                                <div class="col-xs-12 text-cut">
                                    <button class="btn btn-promod" onclick="getCoverImage()">Browse File
                                        <input id="cover-image"  accept=".png,.jpg" style="display: none;"  file-model="coverImageFile" name="image_file1" type="file"  onchange="loadCoverImage(event)" />
                                    </button>
                                    &nbsp;<span class="text-promod" title="{{coverImageFullName}}">{{coverImageFullName}}</span>
                                </div>
                                <div class="col-xs-12">&nbsp;</div>
                                <div class="col-xs-12 text-muted">
                                    Min dimensions 1170x230 required
                                </div>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
            <div  class="col-xs-7 col-xs-offset-5 col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-offset-4 col-sm-8">
                <hr>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-xs-12">YOU CAN CONNECT A SOCIAL NETWORK ACCOUNT&nbsp;
                        <span class="fb-circle text-primary "><i class="fa  fa-facebook "></i></span>&nbsp;<span class="twitter-circle text-info"><i class="fa fa-twitter "></i></span>&nbsp;<span class="youtube-circle"><i class="fa fa-youtube"></i></span><br>
                    </div>  
                </div>
                <hr>  
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-xs-12">
                        <button class="btn btn-promod" ng-click="saveChanges(settingsform)">Save Changes</button>
                        <button class="btn btn-disable"><i class="fa fa-trash"></i>&nbsp;Delete Account</button>
                    </div>
                </div>

            </div>

        </div>
        <div class="clearfix"></div>
    </form>
    <div class="clearfix"></div>

    <div ng-include src="'views/common/innerfooter.html'"></div>
</div>
<div class="clearfix"></div>
<script>
            var getCoverImage = function() {

                document.getElementById("cover-image").click();
            };

            var getProfileImage = function() {
                document.getElementById("profile-image").click();
            };

            var loadProfileImage = function(event) {

                var reader = new FileReader();

                reader.onload = function() {
                    var output = document.getElementById('profileImage');
                    output.src = reader.result;
                };

                if (event.target.files[0] !== undefined)
                {
                    reader.readAsDataURL(event.target.files[0]);
                }

                angular.element(document.getElementById('settings-controller')).scope().profileImageChanged(document.getElementById("profile-image").value);
            };

            var loadCoverImage = function(event) {

                var reader = new FileReader();

                reader.onload = function() {
                };

                angular.element(document.getElementById('settings-controller')).scope().coverImageChanged(document.getElementById("cover-image").value);
            };
</script>