<!--player-->
<div class="clearfix"></div>
<div class="player-bg" ng-controller="PlayerController">
    <div class="col-xs-12 col-sm-12">        
        <div class="row">
            <div class="col-xs-5 col-sm-2 col-md-2 col-lg-2 "> 
                <span class="avtaar-img img-circle pull-left"> <img class="img-responsive-icon img-circle pointer"  ng-click="loadAudioTracksV1($parent.currentPlayingTrack.track.ownerId, false,{'id':$parent.currentPlayingTrack.track.ownerId ,'imageURL': $parent.currentPlayingTrack.track.imageURL})" ng-src="{{$parent.currentPlayingTrack.track.imageURL !== undefined && $parent.currentPlayingTrack.track.imageURL|| $parent.DEFAULT.TRACK_IMAGE_URL}}"/> </span>
                <ul class="song-title">
                    <li class="text-cut"><span>{{audioPlaylist[mediaPlayer.currentTrack - 1].title !== '' && audioPlaylist[mediaPlayer.currentTrack - 1].title|| DEFAULT.TRACK_TITLE}}</span></li>
                    <!--<li class="text-cut"><span class="artist">{{audioPlaylist[mediaPlayer.currentTrack - 1].artist !== '' && audioPlaylist[mediaPlayer.currentTrack - 1].artist|| DEFAULT.TRACK_ALBUM}}</span></li>-->
                </ul>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-6 col-lg-6 no-padding">
                <div class="col-xs-2 col-sm-3  col-lg-2 col-md-3">

                    <span class="pause-play-btn small-play-circle" ng-show="!mediaPlayer.playing" ng-click="playMySong()"><i class="fa fa-play"></i></span>
                    <span class="pause-play-btn small-play-circle" ng-show="mediaPlayer.playing" ng-click="mediaPlayer.pause()"><i class="fa fa-pause"></i></span>
                    <span class="pause-play-btn" ng-click="playNextSong()" ng-class="{'pointer' : nextSongStatus!==1, 'track-progress' : nextSongStatus===1}"><i class="fa fa-step-forward"></i></span>

                </div>
                <div class="col-xs-7 col-sm-6 col-lg-7 col-md-6 ">
                    <div class="col-xs-1 col-md-2 col-sm-2 col-lg-1 no-padding songtime">
                        <span ng-show="mediaPlayer.formatTime">{{mediaPlayer.formatTime}}</span>
                    </div>
                    <div class="col-xs-9 col-md-8 col-sm-8 col-lg-9">
                        <input ng-model="mediaPlayerData.progressValue" ng-change="setProgress(mediaPlayerData.progressValue)"  type="text" id="myProgressSlider" slider ng-disabled="disabled" options="mediaPlayerData.progressOptions"/>
                    </div>
                    <div class="col-xs-2 col-lg-1 col-md-2 col-sm-2   no-padding songtime"><span ng-show="mediaPlayer.formatTime">{{mediaPlayer.formatDuration}}</span></div>
                </div>
                <div class="col-xs-3 col-sm-3  col-lg-3 col-md-3">

                    <div class="col-xs-2 no-padding">
                        <div class="pause-play-btn" ng-if="mediaPlayerData.volumeValue < 1 || mediaPlayer.muted" ng-click="toggleMute()"><i class="fa fa-volume-off fa-fw"></i></div>
                        <div class="pause-play-btn" ng-if="mediaPlayerData.volumeValue > 50 && !mediaPlayer.muted" ng-click="toggleMute()"><i class="fa fa-volume-up fa-fw"></i></div>
                        <div class="pause-play-btn" ng-if="mediaPlayerData.volumeValue <= 50 && mediaPlayerData.volumeValue >= 1 && !mediaPlayer.muted" ng-click="toggleMute()"><i class="fa fa-volume-down fa-fw"></i></div>
                    </div>

                    <div class="col-xs-10">
                        <input ng-model="mediaPlayerData.volumeValue" ng-change="setVolume(mediaPlayerData.volumeValue)"  type="text" id="myProgressSliderVolume" slider ng-disabled="disabled" options="mediaPlayerData.volumeOptions"/>
                    </div>
                </div>
            </div>
            <div class="col-xs-7 col-sm-5  col-md-4 col-lg-4 fix-promotion"> 
                <div class="more-only">
                    <ul id="promotedby" class="pull-left">
                        <li >PROMOTED</li>
                        <li class="player-user-img img-circle" ng-repeat="promoter in $parent.currentPlayingTrack.track.promoters track by $index" ng-if="$parent.currentPlayingTrack.track.promoters.length > 0 && $index < 2">
                            <img class="img-circle img-responsive-icon pointer" ng-if="promoter.imageURL !== ''" ng-click="loadAudioTracksV1(promoter.id, false, promoter)" ng-src="{{promoter.imageURL}}"/>
                            <img class="img-circle img-responsive-icon pointer" ng-if="promoter.imageURL === ''" ng-click="loadAudioTracksV1(promoter.id, false, promoter)" ng-src="{{$parent.DEFAULT.TRACK_IMAGE_URL}}" />
                        </li>
                        <li class="img-circle plusmorecircle pointer" ng-if="$parent.currentPlayingTrack.track.promoters.length > 2" ng-click="showAllPromoters($parent.currentPlayingTrack.track.promoters);"><div class="text-center">+{{$parent.currentPlayingTrack.track.promoters.length - 2}}</div></li>
                        <li class="img-circle plusmorecircle" ng-if="$parent.currentPlayingTrack.track.promoters === undefined || $parent.currentPlayingTrack.track.promoters.length === 0"><div class="text-center">0</div></li>
                    </ul>
                    <ul id="promotedby" class="pull-right" style="margin-top:0px; text-align:right">
                        <li style="word-break:break-all">PROMOTE <br>track</li>
                        <li class="promote-circle img-circle pointer" ng-click="promotePlayingTrack();" ng-if="audioPlaylist.length>0 && !($parent.currentPlayingTrack.track.id === '' || $parent.currentPlayingTrack.track.id === undefined)"><i class="fa fa-arrow-circle-o-up"></i></li>
                        <li class="promote-circle img-circle link-disabled" ng-if="audioPlaylist.length<=0 || ($parent.currentPlayingTrack.track.id === '' || $parent.currentPlayingTrack.track.id === undefined)"><i class="fa fa-arrow-circle-o-up"></i></li>
                    </ul>
                </div>
                <div class="one-only">
                    <ul id="promotedby" class="pull-left">
                        <li >PROMOTED</li>
                        <li class="player-user-img img-circle" ng-repeat="promoter in $parent.currentPlayingTrack.track.promoters track by $index" ng-if="$parent.currentPlayingTrack.track.promoters.length > 0 && $index < 1">
                            <img class="img-circle img-responsive-icon pointer" ng-if="promoter.imageURL !== ''" ng-click="loadAudioTracksV1(promoter.id, false, promoter)" ng-src="{{promoter.imageURL}}"/>
                            <img class="img-circle img-responsive-icon pointer" ng-if="promoter.imageURL === ''" ng-click="loadAudioTracksV1(promoter.id, false, promoter)" ng-src="{{$parent.DEFAULT.TRACK_IMAGE_URL}}" />
                        </li>
                        <li class="img-circle plusmorecircle pointer" ng-if="$parent.currentPlayingTrack.track.promoters.length > 1" ng-click="showAllPromoters($parent.currentPlayingTrack.track.promoters);"><div class="text-center">+{{$parent.currentPlayingTrack.track.promoters.length - 1}}</div></li>
                        <li class="img-circle plusmorecircle" ng-if="$parent.currentPlayingTrack.track.promoters === undefined || $parent.currentPlayingTrack.track.promoters.length === 0"><div class="text-center">0</div></li>
                    </ul>
                    <ul id="promotedby" class="pull-right" style="margin-top:0px; text-align:right">
                        <li style="word-break:break-all">PROMOTE <br>track</li>
                        <li class="promote-circle img-circle pointer" ng-click="promotePlayingTrack();" ng-if="audioPlaylist.length>0 && !($parent.currentPlayingTrack.track.id === '' || $parent.currentPlayingTrack.track.id === undefined)"><i class="fa fa-arrow-circle-o-up"></i></li>
                        <li class="promote-circle img-circle link-disabled" ng-if="audioPlaylist.length<=0 || ($parent.currentPlayingTrack.track.id === '' || $parent.currentPlayingTrack.track.id === undefined)"><i class="fa fa-arrow-circle-o-up"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <audio media-player="mediaPlayer" data-playlist="audioPlaylist">                                
    </audio>
    <div class="clearfix"></div>
</div>
<!--//player-->

<!--Promote Track Modal-->
<div class="modal fade" id="promoteTrackModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-xs-12 text-center form-group"><img src="images/promodIO-logo.png"/></div>
                <div class="col-xs-12 text-center signup-band">Promote Track</div>
                <div class="col-xs-12 spacer30">
                    <div class="col-xs-4 "><img ng-src="{{$parent.promoteTrack.iconURL !== '' && $parent.promoteTrack.iconURL|| $parent.DEFAULT.TRACK_ICON_URL}}" class="img-responsive" style="max-height: 180px;"/></div>
                    <div class="col-xs-8">
                        <h4 style="margin-top:0px;font-weight:bold;padding-bottom: 5px;" class="text-cut">{{$parent.promoteTrack.title !== "" && $parent.promoteTrack.title|| $parent.DEFAULT.TRACK_TITLE}}</h4>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class=" small-text headphones text-center no-padding">6,755 plays</div>
                                <div class=" small-text time text-center no-padding"><span ng-show="$parent.promoteTrack.length">{{($parent.promoteTrack.length - ($parent.promoteTrack.length % 60)) / 60}}min{{$parent.promoteTrack.length % 60}}sec</span></div>
                                <div class=" small-text uploaded text-center no-padding">4 days ago</div>
                            </div>
                        </div>
                        <ul id="user-profile-dialog" class="no-bullet">
                            <li class="pull-left"><img ng-src="{{$parent.promoteTrack.imageURL !== '' && $parent.promoteTrack.imageURL|| $parent.DEFAULT.TRACK_IMAGE_URL}}" class="img-responsive-icon img-circle"/></li>
                            <h4 style="line-height:70px;">&nbsp;{{$parent.promoterInfo.first_name + " " + $parent.promoterInfo.last_name}}</h4>
                        </ul>

                    </div>
                    <div class="col-xs-12  ">
                        <div class="col-xs-12 spacer30">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a gall</div>
                    </div>
                    <div class="col-xs-12 signup-form " style="padding-bottom:0px;">
                        <div class="col-xs-12 spacer30">You have <span class="brand-col" style="font-size:24px;">{{session.credit_value > 0 && session.credit_value|| '0'}} promod credits <i class="fa fa-question-circle"></i></span>
                            <button class="btn btn-promod pull-right" ng-click="promoteAudio();" ng-disabled="promoteResult === true || session.credit_value < CONSTANTS.CREDIT_USED_PER_SONG_PROMOTION">Promote track for {{CONSTANTS.CREDIT_USED_PER_SONG_PROMOTION}} credits</button>
                        </div>
                    </div>
                    <div class="col-xs-12 " style="margin-top:10px;" ng-if="promoteResult === true">
                        <div class=" border-box text-center ">
                            <div class="col-xs-10 col-xs-offset-1 "> Congratulations! This song is now in your promod list {{CONSTANTS.CREDIT_USED_PER_SONG_PROMOTION}} promod Credits have been utilized. </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-xs-12 " style="margin-top:10px;" ng-if="promoteResult === 'fail'">
                        <div class=" border-box text-center ">
                            <div class="col-xs-10 col-xs-offset-1 ">This song cannot be promoted. Please contact administrator</div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-xs-12">&nbsp;&nbsp;</div>
                    <div class="col-xs-12 text-center">
                        <button class="btn btn-disable" ng-click="backToProfile();">Ok</button>
                        &nbsp;&nbsp;
                        <button class="btn btn-promod" ng-click="playNextSong()" data-dismiss="modal" ng-class="{'track-progress': nextSongStatus===1}">Next Track</button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--Promote Track Modal-->

<!--Buy Credits Modal-->
<div class="modal fade" id="buyCreditsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:500px;">
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-xs-12 text-center form-group"><img src="images/promodIO-logo.png"/></div>
                <div class="col-xs-12 text-center signup-band">Buy Credits</div>
                <div class="col-xs-12 spacer30 text-center social-icn">
                    We have a <span class="brand-col" style="font-size:24px;">350 credit</span> on our site
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="signup-form">
                <div class="col-xs-12  text-center">&nbsp;</div>
                <div class="col-xs-12 ">
                    <form>
                        <div class="form-group col-xs-12 ">

                            <div class="col-xs-12">  <label for="exampleInputPassword1">You want to buy</label></div>
                            <div class="col-xs-10">    <div class="input-inner-addon "> <i class="fa fa-unlock-alt brand-col"></i>
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">

                                </div></div><div class="col-xs-2 no-padding" style="font-size:16px;" >Credits</div>
                        </div>

                        <div class="row">


                            <div class="col-xs-12 text-center spacer30">
                                <button class="btn btn-promod">PAY WITH&nbsp;<i class="fa fa-paypal"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<!-- Promoters -modal-->
<div class="modal fade" id="promotersModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-xs-12 text-center form-group"><img src="images/promodIO-logo.png"/></div>
                <div class="col-xs-12 text-center signup-band">PROMOTERS</div>
                <div class="clearfix"></div>

                <div class="signup-form">
                    <div class="col-xs-10 col-xs-offset-1 text-center">

                        <ul id="user-profile">
                            <li ng-repeat="promoter in $parent.promoterList" class='pointer'>
                                <img ng-if="promoter.imageURL !== ''" data-dismiss="modal" ng-click="loadAudioTracksV1(promoter.id, false, promoter);" ng-src="{{promoter.imageURL}}" class="img-responsive-icon img-circle"/>
                                <img ng-if="promoter.imageURL === ''" data-dismiss="modal" ng-click="loadAudioTracksV1(promoter.id, false, promoter)" ng-src="{{$parent.DEFAULT.TRACK_IMAGE_URL}}" class="img-responsive-icon img-circle"/>
                                <img src="images/tickmark.png" class="tickmark"/>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-xs-12">&nbsp;&nbsp;</div>
                    <div class="col-xs-12 text-center">
                        <button class="btn btn-promod" data-dismiss="modal">Close</button>
                    </div>
                    <div class="col-xs-12">&nbsp;&nbsp;</div>
                    <div class="clearfix"></div>

                </div>

            </div>
        </div>
    </div>
</div>
<!-- Promoters -modal--> 

<!--Demote Track Modal-->
<div class="modal fade" id="demoteTrackModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-xs-12 text-center form-group"><img src="images/promodIO-logo.png"/></div>
                <div class="col-xs-12 text-center signup-band">Demote Track</div>
                <div class="col-xs-12 spacer30">
                    <div class="col-xs-4 "><img ng-src="{{$parent.demoteTrack.iconURL !== '' && $parent.demoteTrack.iconURL|| $parent.DEFAULT.TRACK_ICON_URL}}" class="img-responsive" style="max-height: 180px;"/></div>
                    <div class="col-xs-8">
                        <h4 style="margin-top:0px;font-weight:bold;padding-bottom: 5px;" class="text-cut">{{$parent.demoteTrack.title !== "" && $parent.demoteTrack.title|| $parent.DEFAULT.TRACK_TITLE}}</h4>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class=" small-text headphones text-center no-padding">6,755 plays</div>
                                <div class=" small-text time text-center no-padding"><span ng-show="$parent.demoteTrack.length">{{($parent.demoteTrack.length - ($parent.demoteTrack.length % 60)) / 60}}min{{$parent.demoteTrack.length % 60}}sec</span></div>
                                <div class=" small-text uploaded text-center no-padding">4 days ago</div>
                            </div>
                        </div>
                        <ul id="user-profile-dialog" class="no-bullet">
                            <li class="pull-left"><img ng-src="{{$parent.demoteTrack.imageURL !== '' && $parent.demoteTrack.imageURL|| $parent.DEFAULT.TRACK_IMAGE_URL}}" class="img-responsive-icon img-circle"/></li>
                            <h4 style="line-height:70px;">&nbsp;{{$parent.demoterInfo.first_name + " " + $parent.demoterInfo.last_name}}</h4>
                        </ul>

                    </div>                    
                    <div class="col-xs-12  ">
                        <div class="col-xs-12 spacer30 text-justify">
                            <div class="text-warning" ng-if="currentPlayingTrack.track.id===demoteTrack.id">
                                {{MESSAGES.CURRENT_SONG_DEMOTION_MSG}}
                            </div>                            
                        </div>
                    </div>
                    <div class="col-xs-12 signup-form " style="padding-bottom:0px;">
                        <div class="col-xs-12 spacer30">You have <span class="brand-col" style="font-size:24px;">{{session.credit_value > 0 && session.credit_value|| '0'}} promod credits <i class="fa fa-question-circle"></i></span>
                            <button class="btn btn-promod pull-right" ng-disabled="demoteResult === true" ng-click="demoteAudio()">Demote track</button>
                        </div>
                    </div>
                    <div class="col-xs-12 " style="margin-top:10px;" ng-if="demoteResult === true">
                        <div class=" border-box text-center ">
                            <div class="col-xs-10 col-xs-offset-1 "> This song is successfully removed from your promod list</div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-xs-12 " style="margin-top:10px;" ng-if="demoteResult === 'fail'">
                        <div class=" border-box text-center ">
                            <div class="col-xs-10 col-xs-offset-1 ">Unable to complete your request.</div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-xs-12">&nbsp;&nbsp;</div>
                    <div class="col-xs-12 text-center">
                        <button class="btn btn-disable" ng-click="backToProfile();">Ok</button>
                        &nbsp;&nbsp;
                        <button class="btn btn-promod" ng-click="playNextSong()" data-dismiss="modal" ng-class="{'track-progress': nextSongStatus===1}">Next Track</button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--Demote Track Modal-->
<!--Alert Message Modal-->
<div class="modal fade" id="alertMessageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-xs-12 text-center form-group"><img src="images/promodIO-logo.png"/></div>
                <div class="col-xs-12 text-center signup-band">ALERT</div>
                <div class="col-xs-12 spacer30">                    
                    <div class="col-xs-12  ">
                        <div class="col-xs-12 text-justify">{{alertMsg.message}}</div>
                    </div>                    
                    <div class="col-xs-12">&nbsp;&nbsp;</div>
                    <div class="col-xs-12">&nbsp;&nbsp;</div>
<!--                    <div class="col-xs-12 text-center">                        
                        <button class="btn btn-promod" data-dismiss="modal">OK</button>
                    </div>-->
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--Alert Message Modal-->
