<footer class="footer-inner" >
    
      <div class="row">
      <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8 footer-adjust">
      <div class="row">
        <div class="col-xs-5 col-sm-4 col-lg-4 col-md-4"> <img src="images/promodIO-logo.png" class="img-responsive"/> </div>
        <div class="col-xs-7 col-sm-8 col-lg-8 col-md-8" >
          <ul id="bottom-nav-inner" >
            <li><a href="">About us</a></li>
            <li>Privacy Policy</li>
            <li>Help Center</li>
          </ul>
        </div>
        </div></div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
      <div class="row">
        <div class="col-xs-8 col-sm-6 col-lg-6 col-md-6 ">
          <ul id="bottom-nav-inner" >
            <li><a href=""><i class="fa social-icn  fa-twitter "></i></a></li>
            <li><a href=""><i class="fa  social-icn fa-facebook "></i></a></li>
            <li><a href=""><i class="fa fa-google-plus  social-icn"></i></a></li>
          </ul>
        </div>
        <div class="col-xs-4 col-sm-6 col-lg-6 col-md-6"> Adress or contacts <br><span style="color:#bec1c6; font-weight:bold; ">32 Baker street<br>
          welcome@promod.io</span> </div>
          </div></div>
      </div>
   
  </footer>
